[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
tensorflow = "*"
tensorflow-hub = "*"
spacy = "*"
en-core-web-md = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
